*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, 
body ,
#root {
  width: 100%;
  background-color: black; 
  color: white;
}
main{
  position: relative;
}
section{
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}
#section-1{
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.5rem;

    .nav-elem:nth-child(2){
      i{
        color: red;
      }
    }
      svg{
        max-width: 7rem;
        width: 100%;
        height: 100%;
      }
    
  }
  .middle{
    display: flex;
    gap: 3rem;
    .left,
    .right{
      width: 50%;
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 5rem;
    }

    h1{
      font-size: 4rem ;
      line-height: 0.8;
      text-align: right;
    }
  }
  .bottom{
    display: flex;
    gap: 3rem;
    .left,.right{
      width: 50%;
    }
  }
}